.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: #e9f2f9;
  font-size: 15px;
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #FFF;
  font-size: 15px;
}

.MuiDataGrid-root .MuiDataGrid-iconSeparator {
  display: none;
}

.MuiDataGrid-cellCheckbox	{
  width: 0;
}

.MuiDataGrid-columnHeaderCheckbox{
  background-color: black;
}

.MuiDataGrid-root{
  background-color: white;
}

/* 
.root .MuiDataGrid-columnHeaderWrapper{
  background-color: '#9381FF';
  color: #F8F7FF;
  
} */